$secondary-font: 'Open Sans', sans-serif;
$main-font: 'Roboto Mono', monospace;

$offwhite: darken(white, 10%);
$darkblue: rgb(50,50,60);

.sidebar-panel {
  display: flex;
  top: 20%;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .tabs {
    text-align: center;
    
    .tab-button {
      > .contact {
        font-family: $main-font;
        margin-bottom: 0;
        padding: 20px;
      }

      > .mail {
        font-family: $main-font;
        font-size: 1rem;
        text-decoration: none;
        padding: 20px 20px 40px;
        font-weight: 400;
      }
    }
  }
}
