.exchange-wrapper {
  display: flex;

  > .sidebar-panel {
    width: 20%;
    height: 100vh;
    background: #83a4d4;
    background: -webkit-linear-gradient(to top, #b6fbff, #83a4d4);
    background: linear-gradient(to top, #b6fbff, #83a4d4);
  }

  > .main-panel {
    padding: 3%;
    width: 50%;
    text-align: center;
  }

  > .favourites-panel {
    width: 30%;
  }
}