$secondary-font: 'Open Sans', sans-serif;
$main-font: 'Roboto Mono', monospace;

@mixin mobile-col-display {
  position: static;
  width: auto;
  height: auto;
}

.exchange-wrapper {
  display: flex;

  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
  }

  > .sidebar-panel {
    width: 20%;
    height: 100vh;
    position: fixed;

    @media (max-width: 1300px) {
      @include mobile-col-display;
      order: 3;
    }
  }

  > .main-panel {
    padding: 2%;
    width: 50%;
    text-align: center;
    position: absolute;
    left: 20%;

    @media (max-width: 1300px) {
      @include mobile-col-display;
      order: 1;
      padding: 2%;
    }
  }

  > .favourites-panel {
    width: 24%;
    position: absolute;
    right: 0%;
    padding: 0% 2%;
    height: 100vh;
    background-color: transparent;
    position: fixed;

    @media (max-width: 1300px) {
      @include mobile-col-display;
      order: 2;
    }
  }
}